.u-section-1 .u-sheet-1 {
  min-height: 562px;
}

.u-section-1 .u-text-1 {
  font-family: HelveticaNeueLTStd-Lt;
  font-size: 3rem;
  margin: 20px auto 0 30px;
}

.u-section-1 .u-line-1 {
  transform-origin: left center 0px;
  width: 945px;
  margin: 10px auto 0 30px;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  margin: 29px 825px 60px 30px;
}

.u-section-1 .u-btn-1 {
  font-weight: 400;
  font-size: 1.5rem;
}

.u-section-1 .u-btn-2 {
  font-size: 1.5rem;
  font-weight: 400;
}

.u-section-1 .u-btn-3 {
  font-size: 1.5rem;
  font-weight: 400;
}

@media (max-width: 1399px) {
  .u-section-1 .u-line-1 {
    height: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 165px;
  }
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 599px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 25px;
  }

  .u-section-1 .u-line-1 {
    width: 915px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 25px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 637px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 18px;
  }

  .u-section-1 .u-line-1 {
    width: 702px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 18px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-left: 12px;
  }

  .u-section-1 .u-line-1 {
    width: 528px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.25rem;
    margin-left: 12px;
  }

  .u-section-1 .u-btn-1 {
    font-size: 1.25rem;
  }

  .u-section-1 .u-btn-2 {
    font-size: 1.25rem;
  }

  .u-section-1 .u-btn-3 {
    font-size: 1.25rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-line-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }
}

.u-section-1 .u-btn-1:not([data-block-selected]):not([data-cell-selected]),
.u-section-1 .u-btn-1:not([data-block-selected]):not([data-cell-selected]):before,
.u-section-1 .u-btn-1:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-btn-1:not([data-block-selected]):not([data-cell-selected]).u-section-1 .u-btn-1:not([data-block-selected]):not([data-cell-selected]).u-section-1 .u-btn-1:not([data-block-selected]):not([data-cell-selected]):hover {
  border-top-width: 0px !important;
  border-left-width: 0px !important;
  border-right-width: 0px !important;
  border-color: #284780 !important;
  border-style: solid !important;
  border-top-width: 1px !important;
  border-left-width: 1px !important;
  border-right-width: 1px !important;
  border-bottom-width: 1px !important;
  border-radius: 0px !important;
}

.u-section-1 .u-btn-1:not([data-block-selected]):not([data-cell-selected]) {
  border-color: transparent !important;
  border-style: solid !important;
}

.u-section-1 .u-btn-1:not([data-block-selected]):not([data-cell-selected]).u-section-1 .u-btn-1:not([data-block-selected]):not([data-cell-selected]).u-section-1 .u-btn-1:not([data-block-selected]):not([data-cell-selected]).hover {
  border-top-width: 0px !important;
  border-left-width: 0px !important;
  border-right-width: 0px !important;
  border-color: #284780 !important;
  border-style: solid !important;
  border-top-width: 1px !important;
  border-left-width: 1px !important;
  border-right-width: 1px !important;
  border-bottom-width: 1px !important;
  border-radius: 0px !important;
}

.u-section-1 .u-btn-1:not([data-block-selected]):not([data-cell-selected]) {
  border-color: transparent !important;
  border-style: solid !important;
}@font-face {
  font-family: 'HelveticaNeueLTStd-Lt';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/HelveticaNeueLTStd-Lt.otf);
}@font-face {
  font-family: 'HelveticaNeueLTStd-Th';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/HelveticaNeueLTStd-Th.otf);
}@font-face {
  font-family: 'HelveticaNeueLTStd-UltLt';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/HelveticaNeueLTStd-UltLt.otf);
}